# =========================
# Node
# =========================
node_modules/
npm-debug.log*
.DS_Store

# =========================
# Environment files
# =========================
.env
.env.*
backend/.env

# =========================
# Build
# =========================
dist/
dist-ssr/
build/

# =========================
# Uploads
# =========================
backend/uploads/

# =========================
# Editors
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?